* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111791;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.search-form {
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.photo-card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.load-more-container {
    text-align: center;
    margin-top: 20px;
}

.load-more {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #260766;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.load-more:hover {
    background-color: #1b9c57;
}